#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR=debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --with-opt
DEB_CONFIGURE_INCLUDEDIR = "\$${prefix}/X11R6/include"
DEB_DH_STRIP_ARGS=--dbg-package=libxcb0

debian/stamp-autotools-files:
	autoreconf -v --install
	touch debian/stamp-autotools-files

debian/copyright: debian/copyright.debian COPYING
	cat $+ > $@

clean::
	-rm -f debian/copyright

common-install-prehook-arch common-install-prehook-indep:: debian/copyright
