#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR=debian/tmp

# FIXME: cdbs shouldn't require this
DEB_DBG_PACKAGE_libxcb0=libxcb0-dbg
DEB_DBG_PACKAGE_libxcbcomposite0=libxcbcomposite0-dbg
DEB_DBG_PACKAGE_libxcbdamage0=libxcbdamage0-dbg
DEB_DBG_PACKAGE_libxcbdpms0=libxcbdpms0-dbg
DEB_DBG_PACKAGE_libxcbglx0=libxcbglx0-dbg
DEB_DBG_PACKAGE_libxcbrandr0=libxcbrandr0-dbg
DEB_DBG_PACKAGE_libxcbrecord0=libxcbrecord0-dbg
DEB_DBG_PACKAGE_libxcbrender0=libxcbrender0-dbg
DEB_DBG_PACKAGE_libxcbres0=libxcbres0-dbg
DEB_DBG_PACKAGE_libxcbscreensaver0=libxcbscreensaver0-dbg
DEB_DBG_PACKAGE_libxcbshape0=libxcbshape0-dbg
DEB_DBG_PACKAGE_libxcbshm0=libxcbshm0-dbg
DEB_DBG_PACKAGE_libxcbsync0=libxcbsync0-dbg
DEB_DBG_PACKAGE_libxcbxevie0=libxcbxevie0-dbg
DEB_DBG_PACKAGE_libxcbxf86dri0=libxcbxf86dri0-dbg
DEB_DBG_PACKAGE_libxcbxfixes0=libxcbxfixes0-dbg
DEB_DBG_PACKAGE_libxcbxprint0=libxcbxprint0-dbg
DEB_DBG_PACKAGE_libxcbxtest0=libxcbxtest0-dbg
DEB_DBG_PACKAGE_libxcbxv0=libxcbxv0-dbg
DEB_DBG_PACKAGE_libxcbxvmc0=libxcbxvmc0-dbg

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --with-opt
DEB_MAKE_CHECK_TARGET=check

debian/copyright: debian/copyright.debian COPYING
	cat $+ > $@

clean::
	-rm -f debian/copyright

common-install-prehook-arch common-install-prehook-indep:: debian/copyright
