bigreq.*
composite.*
damage.*
dpms.*
glx.*
randr.*
record.*
render.*
res.*
screensaver.*
shape.*
shm.*
sync.*
xc_misc.*
xevie.*
xf86dri.*
xfixes.*
xinerama.*
xinput.*
xprint.*
xtest.*
xv.*
xvmc.*
xproto.*
xcb_des.c
X11
